<div class="scrollspy-container">
    <nav id="scrollspy-infection" class="navbar navbar-default navbar-static">
        <div class="container-fluid">
            <div class="navbar-header">

                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target=".scrollspy-navbar"><span
                        class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse scrollspy-navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#DDos">DDos</a></li>
                        <li class=""><a href="#ppcFraud">PPC fraud</a></li>
                        <li class=""><a href="#seoPoisoning">SEO Poisoning</a></li>
                        <li class=""><a href="#bitcoinMining">Bitcoin Mining</a></li>
                        <li class=""><a href="#victim">Are you a victim?</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <div data-spy="scroll" data-offset="0" data-target="#scrollspy-infection" class="scrollspy-main">

        <!--DDOS START-->
        <h3 id="DDos">Distributed denial of service (DDOs) attack</h3>

        <strong>What is a DDoS attack?</strong>
        <p>
            The botnet will direct large volumes of traffic at a web server in the attempt to overwhelm so that it
            cannot respoind to legitimate requests.
        </p>

        <strong>How does a DDos attack generate revenue?</strong>
        <p>
            A commonly used technique is where the botmaster initiated an attack on a website, proving they have the
            capability to overwhelm their servers.
            The botmaster will then extort 'protection' in exchange for not launching another larger or more widespread
            attack on their site.
            The websites most commonly targeted using this technique will be websites reliant on large events such as
            the World Cup or the Olympics to generate revenue.
        </p>
        <!--DDOS END-->

        <hr>

        <!--PPC START -->
        <h3 id="ppcFraud">PPC fraud</h3>

        <strong>What is Pay Per Click (PPC)?</strong>
        <p>
            PPC is an internet advertising model in which the publisher or host of the website will show an advert on
            their site in exchange for a payment respective to the number of users directed to the advertised site from
            the advert.

        </p>

        <strong>How does a Botnet exploit PPC?</strong>
        <ul>
            <li>The botmaster will set up a website that appears to be legitimate in order to recruit a legitimate
                advertiser.
            </li>
            <li>The botmaster can then utilise their many computers in their botnet to visit the fake website and click
                on the advert.
            </li>
            <li>The clicks will appear as genuine customer traffic due to the thousands of computers in the botnet in
                geographically different locations, which the advertiser will then pay for.
            </li>

        </ul>
        <!--PPC END-->

        <hr>

        <!--SEO START-->
        <h3 id="seoPoisoning">SEO poisoning</h3>

        <p>
            SEO (Search Engine Optomization) poisoning is where botmasters are able to boost search engine rankings
            which artificially drives searchers to websites that inject malware into a victims machine or sites that
            sell counterfeit goods or drugs.
            <button type="button"
                    class="btn btn-sm reference"
                    data-toggle="tooltip" data-placement="right"
                    title="Some example referenece that we are going to sort out in the future ">[1]</button>
        </p>
        <!--SEO END-->

        <hr>

        <!--Bitcoin START-->
        <h3 id="bitcoinMining">Bitcoin Mining</h3>

        <strong> What is Bitcoin mining? </strong>
        <p>
            Bitcoin is a virtual currency that can be traded anomunously online for products and services. Bitcoins are
            'mined' by installing a program on a user's Pc that performs complex calculations. Users are rewarded with
            bitcoins in exchange for their processing power.
        </p>

        <strong> How does a botmaster exploit bitcoin mining?</strong>

        <p>
            The botmaster has the capability to install the bitcoin software on the PC of one of its bots, allowing the
            botmaster to harness the processing power of that computer to mine coins which can then be sold in exchange
            for real currency.
        </p>
        <!--Bitcoin END-->

        <!-- Victim START -->

        <h3 id="victim">Are you a victim?</h3>

        <strong>Symptons of an infection</strong>
        <ul>
            <li>Your system is running slower than usual</li>
            <li>Your hard drive LED is flashing wildly even when idling</li>
            <li>Your files and folders have suddenly disappeared or have been changed</li>
            <li>A friend or colleague has informed you they have recieved a spam email from your email account</li>
            <li>A firewall is informing you a program on your computer is attempting to connect to the internet</li>
            <li>An online bank is suddenly asking for personal information it has never before required</li>
        </ul>
        <!-- Victim END -->

    </div>

</div>
