<div class="container top-cmp">
    <div data-region="jumbotron"></div>
    <div class="row subject-pointers" data-region="subject-pointers"></div>
    <div data-region="preamble"></div>
    <div data-region="featurette"></div>
</div>
