<blockquote class="preamble blockquote">
    <h3>Protocol Reverse Engineering</h3>
    To learn about unknown proprietary protocols, protocol reverse engineering can be employed. Protocol reverse
    engineering intends to provide information on the structure of the messages used in the protocol, as well as what
    constitutes valid sequences of messages

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        [1].
    </button>

    Protocol reverse engineering obviously requires studying the protocol as it is used. As such, emulation of an
    infected bot is required to gain knowledge about the protocol it employs.

</blockquote>