<p>
    Sophisticated botnets employ proprietary communication protocols

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        [1],
    </button>

    presumably to hinder the efforts of security experts, such as active infiltration or analysis

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        [1,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        3],
    </button>

    amongst other things

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        [4,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        5,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        6,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        7].
    </button>

    Gaining an understanding of the protocols used by a botnet can allow for a large amounts of information to be
    uncovered about its capabilities and intent.
</p>