<p>There are several dominant types of C&C topologies that offer a variety of benefits and drawbacks to the botmaster. The different topologies have varying levels of resilience, latency, and scalabilty</p>
