<p>
    In the following sections we will be considering the detection of a Botnet where a number of Bots - also known as
    Zombies, are being controlled by a Botmaster within a Command and Control setup. We shall also presume Bots
    communicate to the Botmaster using IRC or HTTP/DNS protocols

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Hossein Rouhani Zeidanloo, Mohammad Jorjor Zadeh, shooshtari, Payam Vahdani Amoli, M. Safari, Mazdak Zamani, August 2010, “A Taxonomy of Botnet Detection Techniques”, Computer Science and Information Technology (ICCSIT), 2010 3rd IEEE International Conference, Volume 2, pp. 158-162.">
        [20].
    </button>

    <br>

    However in the real world a Botnet could tactically change structure to avoid detection, for example the
    communication could become peer-2-peer amongst Bots

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="https://en.wikipedia.org/wiki/Botnet, accessed at 22:32 on the 12/03/2016">[21].
    </button>

</p>