<p>
    In the following sections we will be considering the detection of a Botnet where a number of Bots - also known as
    Zombies, are being controlled by a Botmaster within a Command and Control setup. We shall also presume Bots
    communicate to the Botmaster using IRC or HTTP/DNS protocols

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">[20].
    </button>

    <br>

    However in the real world a Botnet could tactically change structure to avoid detection, for example the
    communication could become peer-2-peer amongst Bots

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">[21].
    </button>

</p>