<p>
    The technique of acquiring of new bots for a botmasters botnet largely depends on the skills and requirements of an
    attacker

    The attacker may decide to write their own code or simply extend or customize an existing bots

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        [ref],
    </button>
    (which is why there were so many variations of the 2011 Zeus Botnet when its source code was leaked online!).

    <br>

    In this section, we will discuss the different methods of infecting computers in order to propagate the Botnet, how
    the Botnet operates without detection and how it steals information.
</p>