<p>

    Anomaly detection techniques can use various attributes to ascertain if some observances are anomalous. Points of
    interest are: volume of traffic and the port being used

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ricardo Villamarín-Salomón, José Carlos Brustoloni, “Identifying Botnets using anomaly detection techniques applied to DNS traffic”">
        [20].
    </button>

    There are many exisitng algorithms for anomaly detection
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ricardo Villamarín-Salomón, José Carlos Brustoloni, “Identifying Botnets using anomaly detection techniques applied to DNS traffic”">
        [3].
    </button>


    These techniques exist to establish a sound process to find anomalous data in a data set. These methods usually
    involve a comparison between data points against the underlying distribution of typical behaviours and hence
    determining if they are indeed anomalous. Examples of these techniques include:

    <b>Chebyshev’s Inequality</b>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Amidan BG, TA Ferryman, SK Cooley, “Data Outlier Detection using the Chebyshev Theorem”. In 2005 IEEE Aerospace Conference, pp. 1-6. IEEE Conference Publications, Manhattan Beach, CA.">
        [4],
    </button>

    <b>Mahalanobis Distance</b>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Pang-Ning Tan, Michael Steinbach, Vipin Kumar, “Introduction to Data Mining”, 1st edition.">
        [5],
    </button>

    and a simplified equivalent
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ke Wang, Salvatore J. Stolfo, “Anomalous payload-based network intrusion detection”, In Recent Advance in Intrusion Detection (RAID), Sep 2004.">
        [6].
    </button>

</p>

<p>
    Chebyshev’s Inequality, where
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="DeGroot, M. H. (2001), “Probability and Statistics”, 3rd edition, Addison-Wesley.">
        [7]
    </button>

    X is a random variable k > 0 is a parameter:
</p>

<pre>
    <p>P(|X - E(X)| &ge; K&sigma;) &le; 1&frasl;K^2</p>
</pre>

<p>
    This formula sets an upper bound of points of bvalue more than k standard deviations away from the population mean
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Amidan BG, TA Ferryman, SK Cooley, “Data Outlier Detection using the Chebyshev Theorem”. In 2005 IEEE Aerospace Conference, pp. 1-6. IEEE Conference Publications, Manhattan Beach, CA.">
        [4].
    </button>

    Thus Chebyshev’s Inequality states that not more than 1/k^2 of the distribution's values are further than k standard
    deviations away from the mean

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="https://en.wikipedia.org/wiki/Chebyshev%27s_inequality, accessed at 16:23 - 06/03/2016">
        [8].
    </button>

    We are taking data points that are more than k standard deviations from the mean to be anomalous

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Amidan BG, TA Ferryman, SK Cooley, “Data Outlier Detection using the Chebyshev Theorem”. In 2005 IEEE Aerospace Conference, pp. 1-6. IEEE Conference Publications, Manhattan Beach, CA.">
        [4].
    </button>

    <i>
        Mahalanobis Distance, where
        <button type="button"
                class="btn btn-sm reference"
                data-toggle="tooltip" data-placement="right"
                title="Ricardo Villamarín-Salomón, José Carlos Brustoloni, “Identifying Botnets using anomaly detection techniques applied to DNS traffic”">
            [3].
        </button>
        &sum; ^ -1 is the inverse covariance matrix:
    </i>
</p>

<p>
    The underpinning principle

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [3]
    </button>


    is that the distance between two data objects, x and y, can provide a measure of their dissimilarity. These data
    objects are n-dimensional (n ≥ 1) vectors of attributes

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [3].
    </button>


    Given a multivariate Gaussian distribution

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [3]
    </button>

    if a given point resides in a probabilistically unlikely region, with respect to the expected distribution of the
    data, it is classified as anomalous

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [5]
    </button>


    We are using the object’s distance away from the centre of the distribution as this measure

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [5].
    </button>
</p>

