<p>

    Anomaly detection techniques can use various attributes to ascertain if some observances are anomalous. Points of
    interest are: volume of traffic and the port being used

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ricardo Villamarin-Salomon, Jose Carlos Brustoloni, “Identifying Botnets using anomaly detection techniques applied to DNS traffic”">
        [20].
    </button>

    There are many exisitng algorithms for anomaly detection
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ricardo Villamarin-Salomon, Jose Carlos Brustoloni, “Identifying Botnets using anomaly detection techniques applied to DNS traffic”">
        [3].
    </button>


    These techniques exist to establish a sound process to find anomalous data in a data set. These methods usually
    involve a comparison between data points against the underlying distribution of typical behaviours and hence
    determining if they are indeed anomalous. Examples of these techniques include:

    <b>Chebyshev&apos;s Inequality</b>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Amidan BG, TA Ferryman, SK Cooley, “Data Outlier Detection using the Chebyshev Theorem”. In 2005 IEEE Aerospace Conference, pp. 1-6. IEEE Conference Publications, Manhattan Beach, CA.">
        [4],
    </button>

    <b>Mahalanobis Distance</b>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Pang-Ning Tan, Michael Steinbach, Vipin Kumar, “Introduction to Data Mining”, 1st edition.">
        [5],
    </button>

    and a simplified equivalent
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ke Wang, Salvatore J. Stolfo, “Anomalous payload-based network intrusion detection”, In Recent Advance in Intrusion Detection (RAID), Sep 2004.">
        [6].
    </button>

</p>