<dl class="dl-horizontal">
    <dt class="col-sm-3">2007 Zeus</dt>
    <dd class="col-sm-9">First discovered in 2007, it was designed to secretly monitor a victim&apos;s PC and steal
        banking information.
    </dd>
    <dd class="col-sm-9 col-sm-offset-3">The FBI estimates the botnet may have stolen hundreds of millions of dollars.
    </dd>
    <dd class="col-sm-9 col-sm-offset-3">A leak in the Zeus source code lead to an explosion of Zeus variants
        <button type="button"
                class="btn btn-sm reference"
                data-toggle="tooltip" data-placement="right"
                title="Fortinet, The anatomy of a botnet. Available from http://www.fortinet.com/sites/default/files/whitepapers/Anatomy-of-a-Botnet-WP.pdf">
            [50]
        </button>
    </dd>

    <dt class="col-sm-3">2008 Lethic</dt>
    <dd class="col-sm-9">At its peak, the botnet had 300, 000 computers under its control and was respoinsbile for
        sending tens of billions of messages per day which accounted for 8 - 10% of global spam.
    </dd>
    <dd class="col-sm-9 col-sm-offset-3">It was partially dismantled in 2010 by Neustar, Inc but the owners were able to
        regain full control two months later
        <button type="button"
                class="btn btn-sm reference"
                data-toggle="tooltip" data-placement="right"
                title="Fortinet, The anatomy of a botnet. Available from http://www.fortinet.com/sites/default/files/whitepapers/Anatomy-of-a-Botnet-WP.pdf">
            [50]
        </button>
    </dd>

    <dt class="col-sm-3">2010 Waldac</dt>
    <dd class="col-sm-9">The botnet is best known by its spam generation capabilities.</dd>
    <dd class="col-sm-9 col-sm-offset-3">At its peak this botnet had almost 100,000 infected computers at its disposal
        that were capable of sending out 1.5 billion messages per day.
    </dd>
    <dd class="col-sm-9 col-sm-offset-3">In early 2010, Microsoft seized control of Waledac&apos;s C&C servers and
        crippled the botnet.
        <button type="button"
                class="btn btn-sm reference"
                data-toggle="tooltip" data-placement="right"
                title="Fortinet, The anatomy of a botnet. Available from http://www.fortinet.com/sites/default/files/whitepapers/Anatomy-of-a-Botnet-WP.pdf">
            [50]
        </button>
    </dd>


    <dt class="col-sm-3">2011 ZeroAccess</dt>
    <dd class="col-sm-9">Known to have infected between one and two million computers, and it is estimated that the
        zombie network is still generating millions of dollars per year in bitcoin mining and click fraud.
        <button type="button"
                class="btn btn-sm reference"
                data-toggle="tooltip" data-placement="right"
                title="Fortinet, The anatomy of a botnet. Available from http://www.fortinet.com/sites/default/files/whitepapers/Anatomy-of-a-Botnet-WP.pdf">
            [50]
        </button>
    </dd>
</dl>