<p>
    The Botnet propagation technique is based on the &apos;backdoor&apos; which propagates and controls the Botnet with
    malware
    such as worm and spyware.[ref]

    In order to propagate the Botnet further, the malware of a bot will seek to attack devices further through software
    vulnerabilities, vulnerabilities caused by other infections, social engineering through the use of email, instant
    messaging and malicious web
    page content.[ref]
    Further methods of propagation include the bot malware being propagated through peer to peer networks, open file
    sharing, and direct client to client file exchange [ref]
</p>

<p>
    However as the worm can duplicate itself unceasingly by taking advantage of the system vulnerabilities and propagate
    as far as possible through the network, leading to a sharp increase in network traffic.
    This characteristic therefore makes the worm easily detectable.

</p>
<p>


    The controlled propagation of Botnets will allow the prevention of Botnets being easily detectable.
    The bots will often only propagte within certain limits or infect certain hosts according to the purpose of the
    controller during the process of propagating to avoid the detection by security researchers.

    </p>
<p>
    
    Furthermore, the controller also has the capability to activate or suspend the propagation function of some
    controlled hosts in order to adjust the propagation speed in an attempt to avoid being detected by security
    researchers.

    Moreover, even if the security researchers are able to identify a bot, other bots can also take place of them to
    maintain the network.


</p>

<p>
    <strong>A bot within a companies network</strong>
    The infected system can manipulate having access to a victim&apos;s contacts and email account as a social
    engineering technique to send emails with malicious attachments. This will often lead to a higher conversion in
    malware installation as they will more likely perceive an email from a known contact to be genuine.

    Once a company&apos;s network has been infected it could become a candidate for sending outbound SPAM or network
    attacks. This could possibly lead to the entire network being identified as a malicious source and therefore
    added to blacklists, impacting business operations. [17]
</p>

