<blockquote>
    A network of private computers infected with malware that are controlled by an adversary as a group without the owner's knowledge
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Binsalleeh, H.; Ormerod, T.; Boukhtouta, A.; Sinha, P.; Youssef, A.; Debbabi, M.; Wang, L. On the analysis of the Zeus botnet crimeware toolkit.  Privacy Security and Trust (PST), 2010 Eighth Annual International Conference on Dec 2009">
        [50].
    </button>
</blockquote>

<p>
    <strong>What is a bot?</strong>
    A bot is a software robot or a malware instance that runs autonomously on a compromised machine, often without being noticed by the victim user
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Binsalleeh, H.; Ormerod, T.; Boukhtouta, A.; Sinha, P.; Youssef, A.; Debbabi, M.; Wang, L. On the analysis of the Zeus botnet crimeware toolkit.  Privacy Security and Trust (PST), 2010 Eighth Annual International Conference on Dec 2009">
        [50].
    </button>
</p>

<p>
    <strong>A Botnet</strong>, also referred to as a <em>zombie army</em>,
    is the root cause of a large number of security problems on the internet; capable of large scale spamming, DDos attacks, data theft and fraud. A study shows that, on a typical day, about 40% of the 800 million computers connected to the Internet are in a botnet

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Li, Chao; Jiang, Wei; Zou, Xin. Botnet: Survey and Case Study.  Innovative Computing, Information and Control (ICICIC), 2009 Fourth International Conference on . Dec 2009">
        [51].
    </button>
</p>

<p>
    <strong>Why do people create botnets?</strong>
<ul>
    <li>To profit financially</li>
    <li>To make a political or social statement</li>
    <li>To establish a name for themselves in the hacker community</li>
    <li>To celebrate some person or event</li>
    <li>To show companies how their systems are flawed</li>
    <li>Just because they can</li>

</ul>
<button type="button"
        class="btn btn-sm reference"
        data-toggle="tooltip" data-placement="right"
        title="Li, Chao; Jiang, Wei; Zou, Xin. Botnet: Survey and Case Study.  Innovative Computing, Information and Control (ICICIC), 2009 Fourth International Conference on . Dec 2009">[51]
</button>
</p>