<p>
    The presense of botnet software on an infected computer poses many threats to the victim. The bot may be used to
    participate in illegal activities, steal their information and identity or use to propagate their botnet
    further.
</p>

<h3>Data leakage/theft</h3>
<p>
    The bot applications will scour the user’s system searching for sensitive data such as passwords, personal
    identification information and bank account data which will then be automatically uploaded back to the master
    controller.
    This will allow the attacker to steal money from the victim’s bank account or through other means using
    identification information or passwords that have been stolen.
</p>
