<p>
    When considering the issues that the star topology faces, a multi-server botnet is the most obvious protection
    against failure/attack. Here, instead of every infected agent communicating with a sole C&C server, the control of
    bots is spread across multiple servers. Each bot is linked to one server, and then the servers communicate with each
    other to manage the botnet

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ollmann G. Botnet Communication Topologies. Damballa. 2009">
        [27].
    </button>

    Should a server be hijacked or made non-operational, the botnet will continue to function, and the location of the
    agents won’t be compromised

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ollmann G. Botnet Communication Topologies. Damballa. 2009">
        [27,
    </button>

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Jakobsson M, Ramzan Z. Crimeware: Understanding New Attacks and Defenses. In: 1st ed. Addison-Wesley Professional; 2008. p. 188–90">
        28].
    </button>

    This also provides a solution to the scalability issue a single server botnet faces

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Jakobsson M, Ramzan Z. Crimeware: Understanding New Attacks and Defenses. In: 1st ed. Addison-Wesley Professional; 2008. p. 188–90">
        [28].
    </button>

    Also, if the servers are located in different countries, the botnet can be more resilient to legal shutdown attempts
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ollmann G. Botnet Communication Topologies. Damballa. 2009">
        [27].
    </button>

</p>

