<p>
    DNS stands for Domain Name System. The DNS enables an internet address to have a unique globally valid name,
    independent concrete address/location

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Daniel Karrenberg, www.internetsociety.org, “The Internet Domain Name System Explained For Non-Experts”, Internet Society Member Briefing No.16.">
        [13].
    </button>

    To access a domain name, first a query must be sent to the local DNS servers, these DNS databases receive the query
    and convert it into the IP address to be returned

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ahmed M. Manasrah, Awsan Hasan, “Detecting Botnet Activities Based on Abnormal DNS traffic”, International Journal of Computer Science and Information Security, Vol. 6, No.1, 2009. pp. 99-104">
        [10,
    </button>

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Daniel Karrenberg, www.internetsociety.org, “The Internet Domain Name System Explained For Non-Experts”, Internet Society Member Briefing No.16.">
        13].
    </button>
</p>