<p>
    DNS stands for Domain Name System. The DNS enables an internet address to have a unique globally valid name,
    independent concrete address/location

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [13].
    </button>

    To access a domain name, first a query must be sent to the local DNS servers, these DNS databases receive the query
    and convert it into the IP address to be returned

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10,
    </button>

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
         13].
    </button>
</p>