<p>
    Show in the (IMAGE BELOW) is the result of plotting the cumulative distribution function of the Jaccard
    similarities, pairwise, from generated domains

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [23].
    </button>

    As you can see any domains generated on a given day have very high Jaccard coefficients, compared to a day before or
    after.
</p>