<p>
    Botnets are able to use the DNS and DNS query servers as any legitimate host would, therefore it can be tricky to
    discern when traffic is malicious

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10].
    </button>

    Each Bot under the influence of a command and control server is receiving a continual
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        11]
    </button>

    stream of commands from the C&C server. An obvious solution arises from this, blacklisting the C&C server should
    halt communication between the Bots and the Botmaster, it is not as simple as this because the bomaster is able to
    use the dynamic domain name system (DDNS) to relocate the C&C server

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        12];
    </button>

    this is easy because the DNS servers are indifferent to the source of the query

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        14].
    </button>

    When a Botmaster uses the DNS system to distribute commands to Bots there are deviations from normal traffic
    patterns, this is because of the following behaviors

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        15]:
    </button>
</p>

<ul>
    <li>A ‘one-to-many’ relationship exists between the Botmaster and it’s Bots</li>
    <li>All Bots receive an identical set of commands</li>
    <li>The Bots respond to commands immediately, precisely and in discrete intervals</li>
</ul>

<p>
    Under the assumption of these behaviours, a sound method for detection should analyse traffic at discrete time
    intervals, as the Bots will attack as a group and all at once; it should also produce a measure of the similarity
    between two groups of hosts, A and B, accessing the same domain name over a total time period T at two different
    times ta and tb

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10]
    </button>

    The Jaccard index (Jaccard similarity coefficient) is a good method of producing this statistic, due to its reliable
    nature in this case

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        16,
    </button>

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        17].
    </button>

    <i>
        Jaccard similarity coefficient, where[18] A and B are finite sample sets:
    </i>
</p>

<pre>
    <p>J(A,B) = |A &cap; B|/|A &cup; B| = |A &cap; B| / |A| + |B| - |A &cap; B|</p>
    <p>0 <= J(A,B) <= 1 </p>
</pre>

<p>
    The Jaccard similarity coefficient calculates the similarity between two finite sample sets

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [18].
    </button>

    A value of 1 denotes complete similarity and a value of 0 denotes complete dissimilarity. One can infer from this
    that if the sets A and B are empty then result will be 1, however we will attach the condition that the sets A and B
    are non-empty; drawing conclusions from zero data will likely introduce false positives. We are taking a value of
    J(A,B) ≥ 0.8to be denote an abnormal domain name and anything below that may conclude to a false positive

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10].
    </button>

    Moreover the choice of identifier for hosts is important, Botmasters can easily change an IP address using the
    Dynamic Host Configuration Protocol, this can be implemented with immediate effect

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [19];
    </button>

    the MAC address is therefore preferred

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REFERENCE">
        [10].
    </button>

    although we will not take MAC address spoofing into account.
</p>


