<p>
    What about encryption! Part of the beauty of this technique is that it side steps the problem of encryption. At some
    point before sending an encrypted message, the fields that make up the message must have existed in memory in an
    unencrypted form. Similarly, after an encrypted message is received its fields must be decrypted by the application,
    otherwise the application couldn’t use them. Encryption can be bypassed by simply following data through program
    execution (either forwards or backwards) until its unencrypted state is found.
</p>