<p>
    In a hierarchical structure, each bot has the ability to proxy instructions it receives from the C&C server to its
    progenies, and sends replies it receives back to the actual C&C server, thus acting as an apparent server

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ollmann G. Botnet Communication Topologies. Damballa. 2009">
        [27,
    </button>

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Jakobsson M, Ramzan Z. Crimeware: Understanding New Attacks and Defenses. In: 1st ed. Addison-Wesley Professional; 2008. p. 188–90">
        28].
    </button>

    This means that not every bot is connected to a server. This mechanism allows a bot to employ a mixture of
    propagation tactics, for example a drive-by download infection to establish an initial infected agent in a network,
    which can then initiate worm capabilities to infect other computers, with the initial bot acting as a proxy for the
    C&C server

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ollmann G. Botnet Communication Topologies. Damballa. 2009">
        [27].
    </button>

    This topology allows the botnet to be easily segmented for sale or lease

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Ollmann G. Botnet Communication Topologies. Damballa. 2009">
        [27].
    </button>

</p>