<p>
    HTTP is an alternative to IRC which has much the same architecture as IRC. The benefit of using HTTP is that it
    hides botnet traffic in normal web traffic, and so can bypass firewalls with port-based filtering systems; Firewalls
    usually block traffic through unwanted ports, which often includes IRC

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Zeidanloo HR, Manaf  a. a. Botnet Command and Control Mechanisms. 2009 Second Int Conf Comput Electr Eng [Internet]. 2009;1:564–8. Available from: http://ieeexplore.ieee.org/lpdocs/epic03/wrapper.htm?arnumber=5380180">
        [32].
    </button>

    HTTP is a “pull” style protocol i.e. bots periodically visit certain websites to retrieve instructions, whereas IRC
    is a “push” style protocol

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Zeidanloo HR, Manaf  a. a. Botnet Command and Control Mechanisms. 2009 Second Int Conf Comput Electr Eng [Internet]. 2009;1:564–8. Available from: http://ieeexplore.ieee.org/lpdocs/epic03/wrapper.htm?arnumber=5380180">
        [32,
    </button>

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Paganini P. HTTP-Botnets: The Dark Side of an Standard Protocol! [Internet]. 2013 [cited 2016 Mar 11]. Available from: http://securityaffairs.co/wordpress/13747/cyber-crime/http-botnets-the-dark-side-of-an-standard-protocol.html">
        34].
    </button>

    The periodic pattern exhibited by Http botnets is similar to that of many other HTTP services, such as auto-updaters
    and Gmail session, which makes detection of HTTP botnets with low rates of false negatives and positives a
    significant challenge

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Paganini P. HTTP-Botnets: The Dark Side of an Standard Protocol! [Internet]. 2013 [cited 2016 Mar 11]. Available from: http://securityaffairs.co/wordpress/13747/cyber-crime/http-botnets-the-dark-side-of-an-standard-protocol.html">
        [34].
    </button>

</p>

<p>

    These are just two examples of communication protocols used by botnets. Others include social media, where the
    botmaster posts instructions as messages on a social media site such as Facebook or Twitter, and the bots retrieve
    the instructions by regularly polling certain pages

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Burghouwt P, Spruit M, Sips H. Towards Detection of Botnet Communication through Social Media by Monitoring User Activity. 2011;131–43">
        [35],
    </button>

    and SMTP; MegaD, a spamming bot which was responsible for 1/3 of the world’s spam at its peak, used a custom SMTP
    implementation as its C&C protocol

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Cho CY, Babi ć D, Shin ECR, Song D. Inference and analysis of formal models of botnet command and control protocols. Acm Ccs [Internet]. 2010;426–39. Available from: http://doi.acm.org/10.1145/1866307.1866355">
        [36].
    </button>


</p>