<p>
    One protocol commonly used for communication is Internet Relay Chat (IRC), which facilitates real-time text
    messaging. The benefits of using IRC is clear; anonymous, low latency communication; can allow both group and 1-to-1
    communications; simple to set up and control

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Zeidanloo HR, Manaf  a. a. Botnet Command and Control Mechanisms. 2009 Second Int Conf Comput Electr Eng [Internet]. 2009;1:564–8. Available from: http://ieeexplore.ieee.org/lpdocs/epic03/wrapper.htm?arnumber=5380180">
        [32].
    </button>

    When a new bot is infected, it will attempt to connect to the botnet’s private IRC channel using a random nickname
    and wait for instructions. When the botmaster joins the channel, they send an authentication password, and once the
    password is accepted, they can then send instructions to the bots which will then carry out these instructions

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Puri R. Bots & Botnet: An Overview. SANS Inst. 2003">
        [33].
    </button>

    IRC can be used for any centralised botnet model, but the IRC protocol was designed to support multi-server
    communication technologies

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Jakobsson M, Ramzan Z. Crimeware: Understanding New Attacks and Defenses. In: 1st ed. Addison-Wesley Professional; 2008. p. 188–90">
        [28].
    </button>

</p>