<p>
    Internet relay chat is a way to transmit messages within a client/server network scheme

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="https://en.wikipedia.org/wiki/Internet_Relay_Chat, accessed at 11:19 on the 11/03/2016">
        [25].
    </button>

    This is a perfect match for a Botnet under a Command and Control structure; examples of legitimate uses for IRC are
    video games and private messaging services

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="https://en.wikipedia.org/wiki/Internet_Relay_Chat, accessed at 11:19 on the 11/03/2016">
        [25].
    </button>

    However in recent times
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="http://www.theregister.co.uk/2010/11/16/irc_botnets_dying_off/, accessed at 10:34 on the 10/03/2016">
        [26]
    </button>

    Botnets have moved away from using IRC because HTTPS provides many benefits such as increased stealthiness in
    communication to, and relocation of, the C&C server

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="http://www.theregister.co.uk/2010/11/16/irc_botnets_dying_off/, accessed at 10:34 on the 10/03/2016">
        [26].
    </button>
</p>