<p>
    To keep up and running Botmasters may try to change domain name of the C&C server, one way to achieve this is to get
    Bots to generate the new domain name using a one-way hash function

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Patrick Butler, Kui Xu, and Danfeng (Daphne) Yao, “Quantitatively Analysing Stealthy Communication Channels”, Dept. of Computer Science, Virginia Tech, Blacksburg, VA 24060. Matthew Thomas, Aziz Mohaisen, “Kindred Domains: Detecting and Clustering Botnet Domains">
        [22].
    </button>

    We can then calculate the dissimilarity between a generated domain and a legitimate domain, compared to the
    dissimilarity between two legitimate domains, we would expect, on average, the generated name and the legitimate one
    to have a larger mahalanobis distance than domains of the same type, as shown in the image adjacent.

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Patrick Butler, Kui Xu, and Danfeng (Daphne) Yao, “Quantitatively Analysing Stealthy Communication Channels”, Dept. of Computer Science, Virginia Tech, Blacksburg, VA 24060. Matthew Thomas, Aziz Mohaisen, “Kindred Domains: Detecting and Clustering Botnet Domains">
        [22].
    </button>







