<blockquote class="blockquote">
    &quot;A Mealy machine is a six-tuple (Q,&sum;I ,&sum;O,&sigma;,&lambda;,q0), where Q is a finite non-empty set of
    states, q0 &epsilon; Q is the initial state, &sum;I is a finite set of input symbols, &sum;O is a finite set of output symbols, &sigma; :
    Q x &sum;I &rarr; Q is the
    transition relation, and &lambda; : Qx&sum;I &rarr; &sum;O is the output relation.&quot;

    <footer class="blockquote-footer">
        <button type="button"
                class="btn btn-sm reference"
                data-toggle="tooltip" data-placement="right"
                title="George H. Mealy. A method for synthesizing sequential circuits. Bell System Technical Journal, 34(5):1045–1079, 1955.">
            [47,
        </button>
        <button type="button"
                class="btn btn-sm reference"
                data-toggle="tooltip" data-placement="right"
                title="Chia Yuan Cho, Domagoj Babić, Richard Shin and Dawn Song. Inference and Analysis of Formal Models Botnet Command and Control Protocols. In CCS&apos;10: Proceedings of the 2010 ACM Conference on Computer and Communications Security, pages 426–440, Chicago, Illinois, USA, 2010. ACM.">
            48].
        </button>
    </footer>
</blockquote>

<p>
    In simpler terms, a mealy machine is a finite state machine whose output is determined by current state and input.
    The inputs to the machine, in this case, are representative of messages sent by the bot to a botnet server. And the
    outputs representative of the botnet server&apos;s response.
</p>
