<p>
    In a peer-to-peer (P2P) botnet structure, each node acts as a client and server, and so the botnet, like botnets
    with a random topology, are decentralised

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Grizzard JB, Sharma V, Nunnery C, Kang BB, Dagon D. Peer-to-peer botnets: overview and case study. HotBots’07 Proc first Conf First Work Hot Top Underst Botnets [Internet]. 2007;1. Available from: http://dl.acm.org/citation.cfm?id=1323128.1323129">
        [31].
    </button>

    As every node has nearly the same degree

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Dagon D, Gu G, Lee CP. A Taxonomy of Botnet Structures. Botnet Detect [Internet]. :143–64. Available from: http://link.springer.com/10.1007/978-0-387-68768-1_8">
        [30].
    </button>

    P2P botnets exhibit similar structure to random networks with a low connection limit; P2P botnets generally have a
    small number of connections between bots

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Dagon D, Gu G, Lee CP. A Taxonomy of Botnet Structures. Botnet Detect [Internet]. :143–64. Available from: http://link.springer.com/10.1007/978-0-387-68768-1_8">
        [30].
    </button>

    As such, P2P networks experience many of the same benefits and drawbacks of random networks; the botnet is resilient
    to the loss of single nodes

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Zeidanloo HR, Manaf  a. a. Botnet Command and Control Mechanisms. 2009 Second Int Conf Comput Electr Eng [Internet]. 2009;1:564–8. Available from: http://ieeexplore.ieee.org/lpdocs/epic03/wrapper.htm?arnumber=5380180">
        [32],
    </button>

    and communication between nodes is much harder to disrupt. Instructions are passed into and transmitted across the
    botnet from any node

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Zeidanloo HR, Manaf  a. a. Botnet Command and Control Mechanisms. 2009 Second Int Conf Comput Electr Eng [Internet]. 2009;1:564–8. Available from: http://ieeexplore.ieee.org/lpdocs/epic03/wrapper.htm?arnumber=5380180">
        [32].
    </button>

    However, there is also possibly high message latency, and no guarantee of message arrival

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Zeidanloo HR, Manaf  a. a. Botnet Command and Control Mechanisms. 2009 Second Int Conf Comput Electr Eng [Internet]. 2009;1:564–8. Available from: http://ieeexplore.ieee.org/lpdocs/epic03/wrapper.htm?arnumber=5380180">
        [29].
    </button>

</p>