<p>
    The infected host executes a script known as shell-code, which fetches the image of the actual bot binary; the bot
    binary will then install itself on the target machine.
    Once the program has been installed, the infected computer is now known as a &quot;bot&quot; or &quot;zombie&quot;,
    and is then capable of running the malicious code

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        [ref].
    </button>

</p>
<p>
    During the bots own installation, the malware typically installs a program that is used by the bot to communicate,
    control and install software onto the infected computer – also known as a &quot;backdoor&quot;

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="TODO : REF">
        [ref],
    </button>

    Information that could be sent back could include:
</p>

<ul>
    <li>Infected computer IP address</li>
    <li>Operating System information</li>
    <li>Computers login information</li>
    <li>Patches implemented</li>
</ul>

<p>
    The botmaster can then command the bot to do many things, such as:
</p>

<ul>
    <li>Steal your personal information <i>Read more below.</i></li>
    <li>Record your online activities</li>
    <li>Send spam emails to your contacts</li>
    <li>Participate in DDoS attacks</li>
    <li>May identify other Botnets on the computer and install them, motivated by fierce competition between botnets
    </li>
</ul>