<p>
    The remaining mystery of a studied protocol is that of what constitutes a valid session of messages. Or more
    specifically, what sequences of messages are valid during an exchange and what sequences aren&apos;t. This set of message
    sequences is best expressed by a finite state machine, specifically a Mealy machine

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="George H. Mealy. A method for synthesizing sequential circuits. Bell System Technical Journal, 34(5):1045–1079, 1955.">
        [47].
    </button>
</p>