<p>
    New insights of sophisticated botnets have been reached due to the discussed techniques, both of which were applied
    to MegaD

    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Juan Caballero, Pongsin Poosankam, Christian Kreibich, and Dawn Song. Dispatcher: Enabling active botnet infiltration using automatic protocol reverse-engineering. In CCS’09: Proceedings of the 16th ACM conference on Computer and communications security, pages 621–634, New York, NY, USA, 2009. ACM.">
        [39,
    </button>
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Chia Yuan Cho, Domagoj Babić, Richard Shin and Dawn Song. Inference and Analysis of Formal Models Botnet Command and Control Protocols. In CCS'10: Proceedings of the 2010 ACM Conference on Computer and Communications Security, pages 426–440, Chicago, Illinois, USA, 2010. ACM.">
        48].
    </button>

    With an understanding of the message structure and field semantics of MegaD’s protocol messages, it became apparent
    that the C&C of MegaD is split into three servers. There exists a C&C server which provides instructions to bots
    when probed; an SMTP server which is used to test the spamming capabilities of bots, the hostname of which is sent
    to bots by the C&C server; and finally a spam server which bots download their spam templates from, the details of
    which are also supplied by the C&C server.

</p>

<p>
    Moreover, with a complete finite state machine model of the protocol, it became clear that there is some, previously
    unknown, communication backchannel between C&C master server and the spam template servers. These kinds of insights
    into the C&C structure and behaviour of sophisticated botnets like MegaD are made possible with the understanding of
    their protocols.
</p>