<div class="container">
    <hr class="footer-divisor">
    {{> references}}
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2015 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>

</div>


