<div class="container">
    {{> references}}
    <p class="pull-right"><a href="#" data-role="to-top">Back to top</a></p>
    <p>Single page web application developed with Marionette.js and Backbone.js </p>
    <p>Topics research project by Callum Eden, Michael Gillan, Ben Obikoya and Joseph Johnston. </p>
</div>


