<h2>References</h2>
<ul>
    <span id="ref1">[1] : Example reference 1</span><hr>
    <span id="ref2">[2] : Example reference 2</span><hr>
    <span id="ref3">[3] : Example reference 2</span><hr>
    <span id="ref4">[4] : Example reference 2</span><hr>
    <span id="ref5">[5] : Example reference 2</span><hr>
</ul>