<h2>References</h2>
<br>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <ul>
        <span id="ref1">[1] : Haritha.S.Nair, Vinodh Ewards S.E, “Study on Botnet Detection Techniques”,
             International Journal of Scientific and Research Publications, Volume 2, Issue 4, April 2012.</span>

        <hr>

        <span id="ref2">[2] : Paul Bächer, Thorsten Holz, Markus Kötter, Georg Wicherski, “Know your Enemy: Tracking
Botnets”, 08/10/2008, accessed at 19:20 - 05/03/2016, www.honeynet.org.</span>

        <hr>

        <span id="ref3">[3] : Ricardo Villamarín-Salomón, José Carlos Brustoloni, “Identifying Botnets using anomaly detection techniques applied to DNS traffic”</span>

        <hr>

        <span id="ref4">[4] : Amidan BG, TA Ferryman, SK Cooley, “Data Outlier Detection using the Chebyshev Theorem”. In 2005 IEEE Aerospace Conference, pp. 1-6. IEEE Conference Publications, Manhattan Beach, CA.</span>

        <hr>
    </ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <ul>
        <span id="ref5">[5] : Pang-Ning Tan, Michael Steinbach, Vipin Kumar, “Introduction to Data Mining”, 1st edition.</span>

        <hr>

        <span id="ref6">[6] : Ke Wang, Salvatore J. Stolfo, “Anomalous payload-based network intrusion detection”, In Recent Advance in Intrusion Detection (RAID), Sep 2004.</span>

        <hr>

        <span id="ref7">[7] : DeGroot, M. H. (2001), “Probability and Statistics”, 3rd edition, Addison-Wesley.</span>

        <hr>

        <span id="ref8">[8] : https://en.wikipedia.org/wiki/Chebyshev%27s_inequality, accessed at 16:23 - 06/03/2016</span>

        <hr>
    </ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <ul>
        <span id="ref9">[9] : Wills, C. E., Mikhailov, M. & Shang, H. (2003) Inferring Relative Popularity of Internet Applications by Actively Querying DNS Caches. Proceedings of the 3rd ACM SIGCOMM conference on Internet measurement. PP . 78-90.
        </span>

        <hr>

        <span id="ref10">[10] : Ahmed M. Manasrah, Awsan Hasan, “Detecting Botnet Activities Based on Abnormal DNS traffic”, International Journal of Computer Science and Information Security, Vol. 6, No.1, 2009
        </span>

        <hr>

        <span id="ref11">[11] : Example reference 11</span>
        <hr>
        <span id="ref12">[12] : Example reference 12</span>
        <hr>
    </ul>
</div>
