<h2>References</h2>
<br>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <span id="ref1">[1] : Haritha.S.Nair, Vinodh Ewards S.E, “Study on Botnet Detection Techniques”,
             International Journal of Scientific and Research Publications, Volume 2, Issue 4, April 2012.</span>

    <hr>

        <span id="ref2">[2] : Paul Bächer, Thorsten Holz, Markus Kötter, Georg Wicherski, “Know your Enemy: Tracking
Botnets”, 08/10/2008, accessed at 19:20 - 05/03/2016, www.honeynet.org.</span>

    <hr>

    <span id="ref3">[3] : Ricardo Villamarín-Salomón, José Carlos Brustoloni, “Identifying Botnets using anomaly detection techniques applied to DNS traffic”</span>

    <hr>

    <span id="ref4">[4] : Amidan BG, TA Ferryman, SK Cooley, “Data Outlier Detection using the Chebyshev Theorem”. In 2005 IEEE Aerospace Conference, pp. 1-6. IEEE Conference Publications, Manhattan Beach, CA.</span>

    <hr>

    <span id="ref5">[5] : Pang-Ning Tan, Michael Steinbach, Vipin Kumar, “Introduction to Data Mining”, 1st edition.</span>

    <hr>

    <span id="ref6">[6] : Ke Wang, Salvatore J. Stolfo, “Anomalous payload-based network intrusion detection”, In Recent Advance in Intrusion Detection (RAID), Sep 2004.</span>

    <hr>

    <span id="ref7">[7] : DeGroot, M. H. (2001), “Probability and Statistics”, 3rd edition, Addison-Wesley.</span>

    <hr>

    <span id="ref8">[8] : https://en.wikipedia.org/wiki/Chebyshev%27s_inequality, accessed at 16:23 - 06/03/2016</span>

    <hr>

         <span id="ref9">[9] : Wills, C. E., Mikhailov, M. & Shang, H. (2003) Inferring Relative Popularity of Internet Applications by Actively Querying DNS Caches. Proceedings of the 3rd ACM SIGCOMM conference on Internet measurement. PP . 78-90.
        </span>

    <hr>

        <span id="ref10">[10] : Ahmed M. Manasrah, Awsan Hasan, “Detecting Botnet Activities Based on Abnormal DNS traffic”, International Journal of Computer Science and Information Security, Vol. 6, No.1, 2009
        </span>

    <hr>

        <span id="ref11">[11] : Cooke, E., Jahanian, F. & Mcpherson, D. (2005) The Zombie Roundup: Understanding, Detecting, and Disrupting Botnets. In The 1st Workshop on Steps to Reducing Unwanted Traffic on the Internet (SRUTI 2005). pp. 39-44.
        </span>

    <hr>

    <span id="ref12">[12] : Schiller, C. A., Binkley, J., Harley, D., Evron, G., Bradley, T., Willems, C. & Cross.</span>

    <hr>

    <span id="ref13">[13] : Daniel Karrenberg, www.internetsociety.org, “The Internet Domain Name System Explained For Non-Experts”, Internet Society Member Briefing No.16.</span>

    <hr>

    <span id="ref14">[14] : Castillo-Perez, S. & Garcia-Alfaro, J. (2008) Anonymous Resolution of DNS Queries. Lecture Notes in Computer Science, International Workshop on Information Security (IS'08), International OTM Conference. pp. 987–1000.</span>

    <hr>

    <span id="ref15">[15] : Mitsuaki Akiyama, Takanori Kawamoto, Masayoshi Shimamura, Teruaki Yokoyama, Youki Kadobayashi, Suguru Yamaguchi (2007) A proposal of metrics for botnet detection based on its cooperative behavior. Proceedings of the Internet Measurement Technology and its Applications to Building Next Generation Internet Workshop (SAINT 2007). pp. 82-82.</span>

    <hr>

    <span id="ref16">[16] : Choi, H., Lee, H., Lee, H. & Kim, H. (2007) Botnet Detection by Monitoring Group Activities in DNS Traffic. Seventh IEEE International Conference on Computer and Information Technology (CIT 2007). pp. 715-720.</span>

    <hr>

    <span id="ref17">[17] : Rieck, K., Laskov, P. & Klaus-Robertmuller. (2006) Efficient Algorithms for Similarity Measures over Sequential Data: A Look Beyond Kernels. Proc of 28th DAGM Symposium (LNCS). pp. 374– 383.</span>

    <hr>

    <span id="ref18">[18] : https://en.wikipedia.org/wiki/Jaccard_index, accessed at 14:58 on the 12/03/2016.</span>

    <hr>

    <span id="ref19">[19] : N. Ianelli and A. Hackworth. Botnets as a Vehicle for Online Crime. CERT Coordination Center, 2005.</span>

    <hr>

    <span id="ref20">[20] : Hossein Rouhani Zeidanloo, Mohammad Jorjor Zadeh, shooshtari, Payam Vahdani Amoli, M. Safari, Mazdak Zamani, August 2010, “A Taxonomy of Botnet Detection Techniques”, Computer Science and Information Technology (ICCSIT), 2010 3rd IEEE International Conference, Volume 2, pp. 158-162.</span>

    <hr>

    <span id="ref21">[21] : https://en.wikipedia.org/wiki/Botnet, accessed at 22:32 on the 12/03/2016</span>

</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">


    <span id="ref22">[22] : Patrick Butler, Kui Xu, and Danfeng (Daphne) Yao, “Quantitatively Analysing Stealthy Communication Channels”, Dept. of Computer Science, Virginia Tech, Blacksburg, VA 24060.</span>

    <hr>

    <span id="ref23">[23] : Matthew Thomas, Aziz Mohaisen, “Kindred Domains: Detecting and Clustering Botnet Domains Using DNS Traffic”, http://www.cse.buffalo.edu/~mohaisen/doc/www14ws.pdf, accessed at 12:01 on the 11/03/2016</span>

    <hr>

    <span id="ref24">[24] : Stefano Schiavoni Federico Maggi Lorenzo Cavallaro Stefano Zanero Politecnico di Milano Politecnico di Milano Royal Holloway University of London Politecnico di Milano, “Tracking and Detection Botnets Using Automatically Generated Domains”, arXiv:1311.5612v1 [cs.CR] 21 Nov 2013</span>

    <hr>

    <span id="ref25">[25] : https://en.wikipedia.org/wiki/Internet_Relay_Chat, accessed at 11:19 on the 11/03/2016</span>

    <hr>

    <span id="ref26">[26] : http://www.theregister.co.uk/2010/11/16/irc_botnets_dying_off/, accessed at 10:34 on the 10/03/2016</span>

    <hr>

    <span id="ref27">[27] : Ollmann G. Botnet Communication Topologies. Damballa. 2009</span>

    <hr>

    <span id="ref28">[28] : Jakobsson M, Ramzan Z. Crimeware: Understanding New Attacks and Defenses. In: 1st ed. Addison-Wesley Professional; 2008. p. 188–90</span>

    <hr>

    <span id="ref29">[29] : Cooke E, Jahanian F, McPherson D. The zombie roundup: Understanding, detecting, and disrupting botnets. Networks [Internet]. 2005;7:39–44. Available from: http://www.usenix.org/events/sruti05/tech/full_papers/cooke/cooke_html</span>

    <hr>

    <span id="ref30">[30] :  Dagon D, Gu G, Lee CP. A Taxonomy of Botnet Structures. Botnet Detect [Internet]. :143–64. Available from: http://link.springer.com/10.1007/978-0-387-68768-1_8
</span>

    <hr>

    <span id="ref31">[31] : Grizzard JB, Sharma V, Nunnery C, Kang BB, Dagon D. Peer-to-peer botnets: overview and case study. HotBots’07 Proc first Conf First Work Hot Top Underst Botnets [Internet]. 2007;1. Available from: http://dl.acm.org/citation.cfm?id=1323128.1323129</span>

    <hr>

    <span id="ref32">[32] :  Zeidanloo HR, Manaf  a. a. Botnet Command and Control Mechanisms. 2009 Second Int Conf Comput Electr Eng [Internet]. 2009;1:564–8. Available from: http://ieeexplore.ieee.org/lpdocs/epic03/wrapper.htm?arnumber=5380180
</span>

    <hr>

    <span id="ref33">[33] : Puri R. Bots & Botnet: An Overview. SANS Inst. 2003</span>

    <hr>

    <span id="ref34">[34] : Paganini P. HTTP-Botnets: The Dark Side of an Standard Protocol! [Internet]. 2013 [cited 2016 Mar 11]. Available from: http://securityaffairs.co/wordpress/13747/cyber-crime/http-botnets-the-dark-side-of-an-standard-protocol.html</span>

    <hr>

    <span id="ref35">[35] : Burghouwt P, Spruit M, Sips H. Towards Detection of Botnet Communication through Social Media by Monitoring User Activity. 2011;131–43. </span>

    <hr>

    <span id="ref36">[36] : Cho CY, Babi ć D, Shin ECR, Song D. Inference and analysis of formal models of botnet command and control protocols. Acm Ccs [Internet]. 2010;426–39. Available from: http://doi.acm.org/10.1145/1866307.1866355</span>

    <hr>

    <span id="ref37">[37] : Holz T, Gorecki C, Rieck K, Freiling FC. Measuring and Detecting Fast-Flux Service Networks. Ndss [Internet]. 2008;24–31. Available from: {http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.140.188</span>

    <hr>

    <span id="ref38">[38] : Holz T, Gorecki C, Rieck K, Freiling FC. Measuring and Detecting Fast-Flux Service Networks. Ndss [Internet]. 2008;24–31. Available from: {http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.140.188</span>

    <hr>

    <span id="ref39">[39] : Juan Caballero, Pongsin Poosankam, Christian Kreibich, and Dawn Song. Dispatcher: Enabling active botnet infiltration using automatic protocol reverse-engineering. In CCS’09: Proceedings of the 16th ACM conference on Computer and communications security, pages 621–634, New York, NY, USA, 2009. ACM.</span>

    <hr>

    <span id="ref40">[40] : Windows Sockets 2 Documentaion - https://msdn.microsoft.com/en-us/library/windows/desktop/ms738532(v=vs.85).aspx 13:03, Sunday 13th March 2016.</span>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <span id="ref41">[41] : C. Kanich, C. Kreibich, K. Levchenko, B. Enright, G. M. Voelker, V. Paxson, and S. Savage. Spamalytics: An empirical analysis of spam marketing conversion. In ACM Conference on Computer and Communications Security, Alexandria, VA, October 2008.</span>

    <hr>

    <span id="ref42">[42] : J. Caballero, S. Venkataraman, P. Poosankam, M. G. Kang, D. Song, and A. Blum. FiG: Automatic fingerprint generation. In Network and Distributed System Security Symposium, San Diego, CA, February 2007.</span>

    <hr>

    <span id="ref43">[43] : P. M. Comparetti, G. Wondracek, C. Kruegel, and E. Kirda. Prospex: Protocol specification extraction. In IEEE Symposium on Security and Privacy, Oakland, CA, May 2009.</span>

    <hr>

    <span id="ref44">[44] : W. Cui, M. Peinado, K. Chen, H. J. Wang, and L. Irun-Briz. Tupni: Automatic reverse engineering of input formats. In ACM Conference on Computer and Communications Security, Alexandria, VA, October 2008</span>

    <hr>

    <span id="ref45">[45] :H. Dreger, A. Feldmann, M. Mai, V. Paxson, and R. Sommer. Dynamic application-layer protocol analysis for network intrusion detection. In USENIX Security Symposium, Vancouver, Canada, July 2006. </span>

    <hr>

    <span id="ref46">[46] : Dana Angluin. Learning regular sets from queries and counterexamples. Information and Computation, 75(2):87–106, 1987.</span>

    <hr>

    <span id="ref47">[47] : George H. Mealy. A method for synthesizing sequential circuits. Bell System Technical Journal, 34(5):1045–1079, 1955.</span>

    <hr>

    <span id="ref48">[48] : Chia Yuan Cho, Domagoj Babić, Richard Shin and Dawn Song. Inference and Analysis of Formal Models Botnet Command and Control Protocols. In CCS'10: Proceedings of the 2010 ACM Conference on Computer and Communications Security, pages 426–440, Chicago, Illinois, USA, 2010. ACM.</span>

    <hr>

    <span id="ref49">[49] : Muzammil Shahbaz and Roland Groz. Inferring Mealy machines. In FM’09: Proceedings of the 2nd World Congress on Formal Methods, pages 207–222, Berlin, Heidelberg, 2009. Springer.</span>

</div>
