<h2>References</h2>
<br>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <ul>
        <span id="ref1">[1] : Example reference 1</span><hr>
        <span id="ref2">[2] : Example reference 2</span><hr>
        <span id="ref3">[3] : Example reference 3</span><hr>
        <span id="ref4">[4] : Example reference 4</span><hr>
    </ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <ul>
        <span id="ref5">[5] : Example reference 5</span><hr>
        <span id="ref6">[6] : Example reference 6</span><hr>
        <span id="ref7">[7] : Example reference 7</span><hr>
        <span id="ref8">[8] : Example reference 8</span><hr>
    </ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <ul>
        <span id="ref9">[9] : Example reference 9</span><hr>
        <span id="ref10">[10] : Example reference 10</span><hr>
        <span id="ref11">[11] : Example reference 11</span><hr>
        <span id="ref12">[12] : Example reference 12</span><hr>
    </ul>
</div>
