@import "variables";

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;

  .container.outer {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar {
    border-radius : 0; // OVERRIDING BOOTSTRAP
    padding: 20px;

  }
  @media (min-width: $screen-sm) {

    .navbar.affix {
      background: linear-gradient(160deg, #181c1d 0%, #475254 100%);
      width: 100%;
      box-shadow: 1px 1px 1px 1px white;

      li a {
        color:white;
      }

    }

    .navbar.affix-top {
      margin-top: 20px;
      background-color: transparent;
      border-color: transparent;

      a:hover, a:focus {
        color: black;
      }

    }

  }
}