@import "variables";

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;

  .container.outer {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-inverse {
    background: $gradient-blue-background;

    border-radius: 0; // OVERRIDING BOOTSTRAP
    padding: 20px;

    .navbar-brand {
      a {
        font-size: 20px;
      }
    }

    li a {
      font-size: 16px;
    }

  }

  @media (min-width: $screen-sm) {

    .navbar.affix {
      background: $gradient-blue-background;
      width: 100%;
      box-shadow: 1px 1px 1px 1px white;

      a {
        color: white;

        &:hover {
          color: #faa41c;
        }
      }

    }

    .navbar-inverse.affix-top {
      margin-top: 20px;
      background: transparent;
      border-color: transparent;

      a:hover, a:focus {
        color: black;
      }

    }

  }
}

.navbar-inverse {
  background: $gradient-blue-background;
}