@import "variables";

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;

  @media (max-width: $screen-lg) {
    .nav {
      float: none;
    }
  }

  @media (min-width: $screen-lg) {
    .navbar-toggle {
      display: none;
    }
  }

  .container.outer {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-inverse {
    background: $gradient-blue-background;

    border-radius: 0; // OVERRIDING BOOTSTRAP
    padding: 20px;

    .navbar-brand {
      a {
        font-size: 20px;
      }
    }

    li a {
      font-size: 16px;
    }

  }

  .navbar.affix {
    background: $gradient-blue-background;
    width: 100%;
    box-shadow: 1px 1px 1px 1px white;

    a {
      color: white;

      &:hover {
        color: #faa41c;
      }
    }

  }

  .navbar-inverse.affix-top {

    @media (max-width: $screen-sm) {
      background: $gradient-blue-background;
      margin-top: 0;
    }

    margin-top: 20px;
    background: transparent;
    border-color: transparent;

    a:hover, a:focus {
      color: black;
    }

  }

}

.navbar-inverse {
  background: $gradient-blue-background;
}