@import "variables";

.subject-pointers {
  .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;

    p {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.top-cmp {
  margin-top: 90px;
}

hr {

  &.featurette-divisor {
    margin: 80px 0;
  }

  &.footer-divisor {
    margin: 80px 0;
  }
}

.scrollspy-container {

  .scrollspy-main {
    position: relative;
    height: 312px;
    margin-top: 10px;
    overflow: auto;
  }

  nav {
    margin-bottom: 0;
  }

}

img.rounded-corners {
  border-radius: 20px;
}

button.reference {
  background: transparent;
  padding: 0;
}

.featurette {

  p, ul, li, strong {
    font-size: 16px;
  }

  .navbar {
    li {
      font-size: 14px;
    }
  }

  &.first {
    margin-top: 80px;
  }
  .featurette-image {

    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 500px;

    @media(min-width: 0) and (max-width: $screen-md) {
      background-size: 100% 100%;
    }
  }
}


.jumbotron {
  color: white;
  margin-top: 16px;
  background: linear-gradient(160deg, #181c1d 0%, #475254 100%);
}
