<p>
    The honeypot method allows a given control
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Haritha.S.Nair, Vinodh Ewards S.E, “Study on Botnet Detection Techniques”,
             International Journal of Scientific and Research Publications, Volume 2, Issue 4, April 2012.">[1]
    </button>

    pc to be infected with malware and become part of the botnet which is to be monitored.
    This pc will appear to be a regular member of the botnet, so will be have as such.
    As a prerequisite one must know:
    <button type="button"
            class="btn btn-sm reference"
            data-toggle="tooltip" data-placement="right"
            title="Paul Bächer, Thorsten Holz, Markus Kötter, Georg Wicherski, “Know your Enemy: Tracking
            Botnets”, 08/10/2008, accessed at 19:20 - 05/03/2016, www.honeynet.org.">[2]
    </button>
</p>

<ul>
    <li>DNS/IP-address of the IRC server and it's port number.</li>
    <li>Password of the IRC server (optional)</li>
    <li>Nickname of bot and ident structure</li>
    <li>Channel to join and it's password (optional)</li>
</ul>

<p>
    With the dummy PC enrolled in the Botnet it's behaviour can now be monitored, taking note of which DNS/IP-adderss the bot connects to along with other information vital to the operation of the botnet.
</p>